body{
    font-family: 'Inter', sans-serif;
    font-weight: 50;
    font-style: normal;
    font: 600;
    line-height: 1.8;
    color: black;
    background-color: lemonchiffon;
}

#heading {
    background-color: palevioletred;    
    color : white
}


#subHeading {
    background-color: violet;
    color : beige;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
}

#subHeading1 {
    background-color: skyblue;
    color : white;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
}

#subHeading2 {
    background-color: lightgreen;
    color : white;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
}

#Black {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
}